registry=https://registry.npmmirror.com
strict-ssl=true

# 加速 pnpm 各阶段
prefer-frozen-lockfile=true

# 允许并行下载
network-concurrency=8
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
